biopython == 1.76
DateTime == 4.3
et-xmlfile == 1.0.1
jdcal == 1.4.1
numpy == 1.18.2
openpyxl == 3.0.3
parallel-fastq-dump == 0.6.5
xlrd == 1.2.0
xmltodict == 0.12.0
zope.interface == 5.0.1
pkg-resources == 0.0.0
pytz == 2019.3
setuptools == 39.0.1
